## TODAS ESSAS ENVS ESTÃO CONFIGURADAS LOCALMENTE
DATABASE_URL=""
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_TEST_PUBLIC_KEY=""
STRIPE_TEST_SECRET_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET="
