DATABASE_URL=""
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_oXKYV9a8mZuR@ep-still-rain-ac537nzn.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""

STRIPE_TEST_PUBLIC_KEY=""
STRIPE_TEST_SECRET_KEY=""
