@import "tailwindcss";

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
